.top {
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.top h1 {
  float: left;
}

nav img {
  width: 35px;
}
nav {
  font-size: 25px;
  float: right;
}

nav li {
  display: inline;
  margin: 10px;
}

nav li:not(:last-child) {
  display: inline;
  margin: 10px;
  border-right: solid 1px grey;
  padding-right: 20px;
}

nav p {
  display: inline;
  margin-bottom: 20px;
}
nav li:first-child {
  margin-bottom: 10px;
}
